/*内容*/
.Receiving_ul{ background: #f4f4f2;border-top:1px solid  transparent;}
.Receiving_ul li{margin-bottom:10px;height:113px;background: #fff;border-radius: 5px;}
.Receiving_divOne{height:75.5px;}
.Receiving_divOne p,pre{padding:15px 15px 0px 15px;color:#959595;}
.yh_bg{border:none; background: url(../images/yh_bg.png) no-repeat; background-size: 100% 78px;}
.Receiving_ul li .yh_bg p{color:#0072c9;}
.Receiving_ul li .yh_bg p span{color:black;padding-left:20%;}
.Account_liOne{background: #ffc96a;border-top-left-radius: 5px;border-top-right-radius: 5px;height:83px;}
.Account_liOne p{color:#943e05;padding:15px 15px 0px 15px;}
.Account_liOne pre{color:#ae5920;}

.Receiving_divOne p{color:#333333;}
.Receiving_icon{border-top:1px #f4f4f2 solid;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;width: 90%; height:36.5px; margin: 0 auto;}
.Receiving_icon p{margin-top: 10px;}
.Receiving_icon p span{display: inline-block;line-height: 20px;}
.Receiving_icon p span:nth-child(1){background: url(../img/address/address-nor.png) left center no-repeat; background-size: 15px 15px;margin-left: 20px;padding-left:25px;}
.Receiving_icon p span:nth-child(2){background: url(../img/address/delete.png) left center no-repeat; background-size: 15px 15px;padding-left:21px;float: right;padding-right: 10px;}
.Receiving_icon p span:nth-child(3){background: url(../img/address/edit.png) left center no-repeat; background-size: 15px 15px;padding-left:21px;float: right;padding-right: 10px;}
#icon_default{  background: url(../img/address/address-cur.png) left center no-repeat; background-size: 15px 15px; }
.Receiving_icon p span a{color:#959595;}
.my_bth {
    display: block;
    width: 90%;
    height:3rem;
    line-height:3rem;
    background: #d1ac51;
    color: #fff;
    font-size:1.4rem;
    border:none;
    margin:50px auto 0;
    padding:0;
    text-align: center;
}

/*添加地址信息*/
.address-item{ width:90%; height:4rem; line-height: 4rem; margin:0 auto; border-bottom: 1px solid #e2e4e5; font-size: 1.4rem; }
.address-item label{ display: inline-block; width:100px; color:#000; margin-bottom:0; }
.address-item input{ display: inline-block; border: none; background: transparent;}
/*搜索地址栏*/
.searchTx{ width: 58%; height: 2.3rem; line-height: 2.3rem; text-indent: 0.5rem; background: white; border-radius: 4px; border: none; margin-left: 17px;}
.searchBtn{ position: absolute; right:15px; border: none; background: transparent; }
