/*顶部地区选择*/
.regionSelection s{ display:inline-block; width:20px; height:20px; background: url(../img/common/wz.png) no-repeat; background-size: 20px 20px; position: absolute; left: 83px; top: 10px; }
.regionSelection i{ display:inline-block; width:20px; height:10px; background: url(../img/index/wz1.png) no-repeat; background-size: 10px 5px; position: absolute; right: 85px; top: 16px; }
.regionSelection span{ display:block; margin:0 auto; width:60%; max-width: 160px; height:30px; max-height:30px; overflow:hidden; }
/*城市弹层*/
.city-container{ display:none;width:100%;min-height:800px;position:absolute;top:40px;left:0;background-color:#ffffff;z-index:9999;}
.letter{width:4%;overflow:hidden;line-height:28px;font-size:16px;position:fixed;top:40px;right:10px;text-align:center;background-color: #e8e8ea; opacity: .5;}
.letter ul{list-style-type:none;}
.letter ul li a{text-decoration:none;color: #d1ac51;}
.city{width:100%;overflow:hidden;padding:20px 0;}
.city-list{width:100%;overflow:hidden;}
.city-list .city-letter{color:#6e6e6e;font-size:1.6rem;background-color: #e0e0e0; display:inline-block;width:100%;height:2.5rem;}
.city-list .city-letter span{ font-size: 1.6rem; color: #444849; margin:0 10px; line-height: 2.5rem;}
.city-list .city-cn{ width:90%; border-left:1px solid #e5e5e5;  margin:0 auto; overflow:hidden; }
.city-list .city-cn p{color:#a3a3a3;float:left;width:25%;height:50px;line-height:50px;text-align:center;border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;cursor:pointer;}
.UISelect{margin-top:5px}
/*轮播图*/
#gallery{clear:both; position:relative; margin:0 auto; width:100%; background: white; overflow:hidden; }
#gallery img {display: inline-block; width:100%; max-height:150px; vertical-align: bottom; }
.gallery-mask{ width:750px; height:45px; background: url(../img/index/hu.png) no-repeat; background-size: 50%; position:absolute; bottom:-25px; left:0; z-index: 99;}
#gallery slide{position:relative; float: left;}
#gallery slide img {display: inline-block; width:100%; vertical-align: bottom; }
/*频道图标*/
.floor-item { width: 100%; background: white; font-size: 100%; overflow: hidden; }
.quick-entry-link{ width: 25%; float: left; font-size: 1.2rem; text-decoration: none; color: #d1ac51; text-align: center; display: block; padding-bottom: 10px; }
.quick-entry-link img { display: block; width: 40px; height: 40px; margin: 0 auto 6px auto; }
/*消息头条*/
.headlines{ width:100%;  height:3.6rem; position: relative; border-top: 1px solid #dbdbdb; overflow:hidden; }
.hdlines-tt{ position: absolute; top:11px; left:20px;  width:159px; height:37px;}
.hdlines-tt img{ display:block; max-width: 50%; max-height: 50%; vertical-align: bottom; }
.hdlines-box{ width: 70%; float: right; margin-right: 10px; }
.hdlines-box ul{ width:100%; height:195px; }
.hdlines-box li{ width:100%; float:left; text-align:center; font-size:1.2rem; }
.hdlines-box li a{ display: block; height: 42px; line-height: 42px; text-indent: 20px; color: #b9b9b9; }
/*module-con*/
.module-con{ border-top: 1px solid #dbdbdb; }
.module-con li{ width:50%; float:left; border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; }
.module-con li:nth-child(2n){ border-right: 1px solid #fff; }
.module-con li img{ display: block; width: 100%; vertical-align: middle; }
