/*list-item*/
.list-item{ width:100%; background-color: white;  border-bottom: 1px solid  #dbdbdb; overflow: hidden; }
.list-item dl{ float:left; width:50%; border-top: 1px solid  #dbdbdb; border-right: 1px solid  #dbdbdb; padding:10px 0 10px 10px; margin:0; min-height: 155px;}
.list-item dl:nth-child(2n){ border-right:none; }
.list-item dt a{ display:block; width:80px; height:80px; }
.list-item dt img{ display:block; width:100%;  vertical-align: middle;}
.list-item .details{ width:76px; }
.list-item .details h3{ display:block; margin:10px 15px 10px 0; font-size:1.6rem; color:#1d202f; max-width: 71px;
    max-height: 20px; line-height: 20px; overflow:hidden;}
.list-item .details span{ display: block; font-weight:normal; font-family: "Microsoft YaHei"; font-size:1.6rem; color: #ff4800; margin-right:10px; }
.list-item .details span b{ font-weight:normal; font-family: Arial; font-size:3rem; }
.list-item dd{ margin-top: 10px; font-size: 1.2rem; color: #a3a3a3; }
.selecteBtn{ position: absolute; right:5px; bottom:5px; width:18px; height:18px; background: url(../img/list/gx-03.png) no-repeat; background-size: 18px; }
.selecteBtn.cur{ position: absolute; right:5px; bottom:5px; width:18px; height:18px;  background: url(../img/list/gx.png) no-repeat; background-size: 18px; }

/*底部结算*/
.list-ft{ position: fixed; bottom:0; width: 100%; background-color: #e5e5e5; }
.list-ft .tt{ display: inline-block; width:70%; padding:10px 10px 0; }
.list-ft .tt p{ font-size: 1.3rem; color:#1d202f; text-align: right;}
.list-ft .tt p b{ display:inline-block; font-size: 2rem; color: #ff4800; font-family: Arial;}
.list-ft a{ display: inline-block; float: right; width:30%; line-height: 4.9rem; text-align: center; font-size: 1.6rem; background-color: #d1ac51; color:white; }

/*加减数量*/
.yunBox{ clear: both; margin-top: 28px; }
.yunBox span{ display: inline-block !important; float:left; margin: 0 5px; font-size: 1rem; color: #1d202f; opacity: 0; }
#listBox .reduceBtn{ display: none; float:left; width:13px; height:13px; background: url(../img/list/reduce.png) no-repeat; background-size: 13px; margin-top: 5px; }
#listBox .plusBtn{ display: inline-block; float:left; width:13px; height:13px; background: url(../img/list/plus.png) no-repeat; background-size: 13px; margin-top: 5px; }

/*选取衣服*/
.bang-item{ width: 90%; margin:5% auto; }
.bang-item dl{ border: 1px solid #d1ac51; border-radius: 4px; overflow: hidden; }
.bang-item dt{ display:inline-block; width: 84px; height:84px; margin:20px; }
.bang-item dt img{ display: block; width: 100%; vertical-align: middle; }
.bang-item dd{ float: left; margin:20px; }
.bang-item dd span{ display:block; color: #1d202f; font-size: 1.6rem; line-height: 25px; margin-bottom: 10px; }
.bang-item dd a{ background-color: #d1ac51; color: #fff; padding:3px 5px; border-radius: 2px; }
.bang-item ul{ margin:5% auto; }
.bang-item li{ height:50px; line-height: 50px; border-bottom:1px solid #e5e5e5; background: url(../img/common/zt.png) 95% center no-repeat; background-size: 15px; }
.bang-item li a{ width:50%; color: #1d202f; font-size: 1.2rem; }
.bang-item li s{ display: inline-block; width:25px; height:25px; background-size: 100%; vertical-align: middle; margin-right:5px; }
.positionIco{ background: url(../img/common/wz.png) no-repeat; }
.timeIco{ background: url(../img/common/sj.png) no-repeat; }
.commitBox{ margin:5% auto 0; }
.commitBox p{ font-size: 1.4rem; text-indent: 1em; }
.commitBox textarea{ width: 100%; margin:3% auto 0; height:10rem; border: 1px solid #e5e5e5; padding:10px 13px; overflow: hidden; }
.tipBox{ margin:5% auto; }
.tipBox h3{ font-size: 1.4rem; text-indent: 1em;}
.tipBox p{ text-indent: 1em; color: #1d202f; }
.my_bth_radius1{ display: block; width: 90%; height:3rem; line-height:3rem; background: #d1ac51; color: #fff; font-size:1.4rem; border:none; margin:50px auto 0; padding:0; text-align: center; border-radius: 5px; position: fixed; bottom:5%;
left:6%;}

/*选取衣服的弹窗*/
.modal-content{ width: 95%; margin: 50% auto; background-color: #f9f6f2; border-radius: 8px; }
.modal-header{ width: 90%; margin:0 auto; border-bottom:1px solid #e5e5e5; }
.modal-header h4{ text-align:center; color: #d1ac51; }
.modal-body{ padding:0 15px; }
.bang-modal-item{ border-bottom: 1px solid #e5e5e5; }
.bang-modal-item .bangcheckbox{ float:right; }
.bang-modal-item dt span{ font-size: 1.4rem; }
.bang-modal-item dt, .bang-modal-item dd{ margin:5px 0; }
.bang-modal-item dd p{ color: #a3a3a3; font-size: 1.2rem; margin-top: 5px;}
.bang-modal-item dd i{ font-style: normal; }
.modal-footer{ text-align: center; }
.modal-footer button{ padding:4px 10px; background-color: #d1ac51; color: #fff; border:none; margin:0 15px;}
.serviceCn{ margin-top:10px; }
.serviceCn, .servicePrice{ display:none; }
.bang-item dd span.serviceMinPrice, .bang-item dd span.serviceMaxPrice{ display: inline-block; font-size:1.2rem; color: #1d202f; }

/*库洗周周洗*/
.week-banner{ margin:7px auto; overflow:hidden; }
.week-banner img{ display: block; width: 100%; vertical-align: middle; }
.weekBox{ width:100%; border-top: 1px solid #eee; }
.week-tab{ float: left; width: 90px; }
.week-tab li{ height: 33px; line-height: 33px; text-align: center; background-color: #faf6f3; border-bottom: 1px solid #eee; overflow: hidden; }
.week-tab li a{ color: #1d202f; font-size: 1.5rem;}
.week-tab li.cur{ background-color: #d1ac51; }
#myTab li.active{ color: #fff; }
.week-list-item{ width: 75%; float:left; }
.week-list-item dl{ width: 90%; margin:0 auto; padding:10px 0; border-bottom: 1px solid #e5e5e5; overflow:hidden; }
.week-list-item dt{ width:100%; margin:0 auto; overflow:hidden; }
.week-list-item dt .details{ width: 63% }
.week-list-item dt .details h3{ display: inline-block; }
.week-list-item dt .details strong{ text-align: right; color: #ff4800; font-size: 1rem; }
.week-list-item dt .details strong b{ margin-left: 5px; font-size: 2rem; }
.week-list-item dt .details p{ margin-top: 5%;}
.week-list-item dt .details p span:first-child{ display: block; line-height: 25px; color: #a3a3a3; font-size: 1.3rem; }
.week-list-item dt .details p span:last-child{ display: block; line-height: 25px; color: #ff4800; font-size: 1.3rem; }
.week-list-item dt a{ display: block; width: 29%; height: 95px; margin: 10px; }
.week-list-item dt a img{ display: block; width:100%; }
.week-list-item dd{ color: #a3a3a3; }
