.guest-cn { background-color: white; }
.guest-cn .bd {
    padding-top: 30px; 
    margin: 0;
}
.notice {
    margin: 100px auto 0 auto;
    overflow: hidden;
}
.moneyIco {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/money/money.png) no-repeat;
    background-size: 100px 100px;
}
.notice b {
    display: block;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-size: 4.8rem;
    text-align: center;
    font-weight: normal;
}
.notice p {
    margin: 23px auto;
    text-align: center;
    font-size: 1.8rem;
    color: #000;
    font-weight:bold;
}
.my_bth1 {
    width: 90%;
    height:2.9rem;
    line-height:2.9rem;
    background: #d1ac51;
    color: #fff;
    font-size:1.4rem;
    border:1px solid #d1ac51;
    border-radius: 4px;
    margin:50px auto 0;
    padding:0;
    text-align: center;
}
.my_bth2 {
    width: 90%;
    height:2.9rem;
    line-height:2.9rem;
    background: transparent;
    color: #d1ac51;
    font-size:1.4rem;
    border:none;
    margin:20px auto 0;
    padding:0;
    border:1px solid #d1ac51;
    border-radius: 4px;
    text-align: center;
}
/*弹出层*/
#rechargeModal .modal-body{ padding:15px; }
#rechargeModal .modal-content{ width:286px; margin:50% auto; background-color: #f5f6f1; }
#rechargeModal .modal-content label{ width: 25%; font-size: 1.2rem; color:#1d202f; text-align: center; }
#rechargeModal .modal-content input{ width:70%; height:1.9rem; border:1px solid #d1ac51; border-radius: 4px; text-indent: 0.5rem; }
.recharge-item{ margin-bottom: 10px; }
.btn-yellow{ width:60px; line-height: 1; text-align:center; background-color: #d1ac51; color:#fff; margin-right:37%; }
.modal-footer .btn+.btn { margin-right:9%; }
