/*order-item*/
.order-item{ width:100%; background-color: white; border-top: 1px solid #ececec; overflow: hidden; }
.order-item li{ padding:10px auto; border-bottom: 1px solid #ececec; overflow: hidden;}
.order-item li img{ display: inline-block; float: left; width:61px; height:61px; margin:20px; }
.order-item li .details{ display: inline-block;  width:70%; margin:10px 0; }
.order-item li .details p{ font-size: 1.3rem; color:#7b7b7b; }
.order-item li .details p span{ display: inline-block; width:80px;  color: #1d202f; text-align: right; }
.order-item li .details p b{ color:#ff4800; }

/*guest-cn*/
.guest-cn { background-color: white; }
.guest-cn .bd {
    padding-top: 30px;
    margin: 0;
}
.notice {
    margin: 100px auto 0 auto;
    overflow: hidden;
}
.loanSuccessIco {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/order/success.png) no-repeat;
    background-size: 120px 120px;
}
.notice b {
    display: block;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    color: #d1ac51;
    font-size: 3.6rem;
    text-align: center;
    font-weight: normal;
}
.notice p {
    margin: 23px auto;
    text-align: center;
    font-size: 1.4rem;
    color: #1d202f;
}
/*dialog*/
.modal-dialog{ margin: 0; }
.modal-content{ margin:50% auto; width:750px; height:862px; background:url(../img/order/shai.png) no-repeat; background-size: 50%; border: none; box-shadow: 0 0 0 transparent;}
.modal-content .close{ position: absolute; width: 35px; height: 35px; float: none; right: 53%; text-indent:9999em; }
.modal-content .shaiLnk{ position: absolute; min-width: 320px; height: 70px; top: 40%; text-indent:9999em;}

/*coupon*/
.couponSelection{ width: 100%; height: 40px;  margin: 10px auto; background-color: white; overflow: hidden; }
.couponSelection label{ display: inline-block; line-height:25px; color: black; text-align: center; margin:0 2rem; }
.couponSelection input.tx{ display: inline-block; width: 50%; line-height: 25px; margin:0 auto; text-indent: 1em; border:1px solid #e5e5e5; color: #b2b2b2; font-size: 1.2rem; }
.couponSelection input.searchBtn{ position: absolute; right:15px; background-color: #d1ac51; color: #fff; width:5rem; line-height: 25px; text-align: center; border: none; border-radius: 5px; }
.couponBox{ margin-top: 8px; overflow:hidden; }
.couponBox li{ width:313px; height:130px; background: url(../img/order/Coupon.png) no-repeat; background-size: 100%; margin: 1.4rem auto; }
.couponBox .tt{ margin:4% auto 0; overflow: hidden; }
.couponBox .tt p{ width:85%; margin:-10px auto 0; font-size: 3.2rem; color: #7e6000;  font-family: "Microsoft Yahei";  }
.couponBox .tt p i{ display: inline-block; font-size:2.1rem; color: #7e6000; font-style: normal; font-family: "Microsoft Yahei"; }
.couponBox .tt p b{ display: inline-block; height:100px; font-size:8rem; color: #7e6000; font-family:"SimSun"; margin-right: 10px; vertical-align:sub; }
.couponBox .tt p strong{ display: inline-block;  font-size:3.2rem; color: #ff6600; font-weight: normal; }
.couponBox .tt .tip{ position: absolute; top:20px; right:99px; font-size: 1.4rem; color: #7e6000; font-family: "Microsoft Yahei"; }
.couponBox .cn{ width: 90%; margin:0 auto; overflow: hidden;}
.couponBox .cn p{ line-height: 18px; color: #7e6000; }

.couponBox1 li{  width:313px; height:130px; background: url(../img/order/expressCoupon.png) no-repeat; background-size: 100%; margin: 1.4rem auto; }
.couponBox1 .tt{ margin:4% auto 0; overflow: hidden; }
.couponBox1 .tt p{ width:85%; margin:-10px auto 0; font-size: 3.2rem; color: #878889;  font-family: "Microsoft Yahei";  }
.couponBox1 .tt p i{ display: inline-block; font-size:2.1rem; color: #525354; font-style: normal; font-family: "Microsoft Yahei"; }
.couponBox1 .tt p b{ display: inline-block; height:100px; font-size:8rem; color: #525354; font-family:"SimSun"; margin-right: 10px; vertical-align:sub; }
.couponBox1 .tt p strong{ display: inline-block;  font-size:3.2rem; color: #878889; font-weight: normal; }
.couponBox1 .tt .tip{ position: absolute; top:20px; right:99px; font-size: 1.4rem; color: #525354; font-family: "Microsoft Yahei"; }
.couponBox1 .cn{ width: 90%; margin:0 auto; overflow: hidden;}
.couponBox1 .cn p{ line-height: 18px; color: #525354; }

/*order-submit-item*/
.order-submit-item{ width: 100%; margin:0 auto;}
.order-submit-item ul{ padding:10px 0; }
.line-freshcolor{ width: 100%; height:8px; background-color: #f9f6f2; }
.order-submit-item li{ width: 90%; margin:0 auto; background: url(../img/common/zt.png) 100% center no-repeat; background-size: 15px; }
.order-submit-item li div{ display: inline-block; width:80%; margin-left: 12%; }
.order-submit-item li span:first-child{ width: 58%; }
.order-submit-item li span:last-child{ width: 42%; }
.order-submit-item li p{ line-height: 25px; }
.order-submit-item li s{ display: inline-block; width:25px; height:25px; background-size: 100%; margin-right:5px; position: absolute; top:28%; }
.order-submit-item .positionIco{ background: url(../img/order/dq.png) no-repeat; }
.order-submit-item dd  .priceNum{ font-size: 2rem; color: #ff4800; font-family: Arial; }
.order-submit-item dd  .priceNum i{ margin-right:5px; font-style: normal; font-size:1rem; font-family:"Microsoft Yahei"; }

.order-submit-dl{ margin-top:8px; background-color: white; overflow:hidden; }
.order-submit-dl dl{ border-bottom: 1px solid #ececec; margin:0; padding-bottom:10px; overflow: hidden; }
.order-submit-dl dt{ display:inline-block; width: 84px; height:84px; margin:10px; }
.order-submit-dl dt img{ display: block; width: 100%; vertical-align: middle; }
.order-submit-dl dd{ float: left; width:70%; margin-top: 10px; }
.order-submit-dl dd .desc{ float:left; width: 60%; margin:0 5%; }
.order-submit-dl dd .desc p{ line-height: 20px; }
.order-submit-dl .productName{ font-size: 1.6rem; color: #1d202f; }
.order-submit-dl .productAlias, .order-submit-dl .productSize, .order-submit-dl .productDetail{ font-size: 1.2rem; color: #7b7b7b; }
.order-submit-dl dd .priceNum{ float:right; width: 30%; }
.order-submit-dl dd .priceNum p{ margin-top:32px; background-color: #f9f6f2; overflow:hidden; }
.order-submit-dl dd .priceNum span{ display: inline-block; float:left; line-height:38px; margin: 0 5px; font-size: 1rem; color: #1d202f; }
.order-submit-dl dd .priceNum .reduceBtn{ display: inline-block; float:left; width:25px; height:30px; background: url(../img/order/order-reduce.png) no-repeat; background-size: 25px 30px; margin-top: 5px; margin-right:0; }
.order-submit-dl dd .priceNum .plusBtn{ display: inline-block; float:left; width:25px; height:30px; background: url(../img/order/order-plus.png) no-repeat; background-size: 25px 30px; margin-top: 5px; margin-right:0; }

.order-submit-item .serviceTime{ width:90%; margin:5% auto; }
.order-submit-item .serviceTime div{ margin-bottom: 5px; }
.order-submit-item .serviceTime div i{ display:inline-block; width:20%; font-style: normal; }
.order-submit-item .serviceTime div p{ display:inline-block; width:30%;}
.order-submit-item .serviceTime div span{ display:inline-block; width:48%; }
.order-submit-item .tipBox{ width:90%; margin:0 auto; }
.order-submit-item .tipBox .tipIco{ display: inline-block; width:27px; height:31px; background: url(../img/order/tipIco.png) no-repeat; background-size: 27px 31px; }

.commitBox{ width:100%; margin:0 auto; background-color: white; }
.commitBox p{ width:90%; margin:0 auto; padding-top: 5%; font-size: 1.4rem; }
.commitBox textarea{ display: block; width: 90%; margin:3% auto 0; height:6rem; border: none; background-color: #f9f6f2; padding:10px 13px; overflow: hidden; }
.tipBox{ margin:5% auto; }
.tipBox h3{ font-size: 1.4rem; text-indent: 1em;}
.tipBox p{ text-indent: 1em; color: #1d202f; }
.my_bth_radius1{ display: block; width: 90%; height:3rem; line-height:3rem; background: #d1ac51; color: #fff; font-size:1.4rem; border:none; margin:5% auto 0; padding:0; text-align: center; border-radius: 5px; position:relative; }
