/*order-item*/ 
.order-item{ width:100%; background-color: white; border-top: 1px solid #ececec; overflow: hidden; }
.order-item li{ position:relative; padding:10px auto; border-bottom: 1px solid #ececec; overflow: hidden;}
.order-item li img{ display: inline-block; float: left; width:51px; height:51px; margin:20px; }
.order-item li .details{ display: inline-block;  width:60%; margin:10px 0; }
.order-item li .details p{ margin:0; color: #1d202f; }
.order-item li .details p span{ display: inline-block; font-size: 1.3rem; color:#7b7b7b;}
.order-item li .details p b{ color:#ff4800; }
.order-item li button{ position: absolute; right:10px; top:11px; width:45px; height:18px; line-height: 18px; text-align: center; background-color: #d1ac51; color:#fff; font-size: 0.5rem; border-style: none; padding: 0;}

/*guest-cn*/
.guest-cn { background-color: white; }
.guest-cn .bd {
    padding-top: 30px;
    margin: 0;
}
.notice {
    margin: 100px auto 0 auto;
    overflow: hidden;
}
.loanSuccessIco {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/order/success.png) no-repeat;
    background-size: 120px 120px;
}
.notice b {
    display: block;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    color: #d1ac51;
    font-size: 3.6rem;
    text-align: center;
    font-weight: normal;
}
.notice p {
    margin: 23px auto;
    text-align: center;
    font-size: 1.4rem;
    color: #1d202f;
}
/*dialog*/
#activityModal .modal-dialog, #couponModal .modal-dialog{ margin: 0; }
#activityModal .modal-content{ margin:50% auto; width:750px; height:862px; background:url(../img/order/shai.png) no-repeat; background-size: 50%; border: none; box-shadow: 0 0 0 transparent;}
#couponModal .modal-content{ margin:50% auto;}
#activityModal .modal-content .close{ position: absolute; width: 35px; height: 35px; float: none; right: 53%; text-indent:9999em; }
#activityModal .modal-content .shaiLnk{ position: absolute; min-width: 320px; height: 70px; top: 40%; text-indent:9999em;}

/*coupon*/
.couponSelection{ width: 100%; height: 40px;  margin: 10px auto; background-color: white; overflow: hidden; }
.couponSelection label{ display: inline-block; line-height:25px; color: black; text-align: center; margin:0 2rem; }
.couponSelection input.tx{ display: inline-block; width: 50%; line-height: 25px; margin:0 auto; text-indent: 1em; border:1px solid #e5e5e5; color: #b2b2b2; font-size: 1.2rem; }
.couponSelection input.searchBtn{ position: absolute; right:15px; background-color: #d1ac51; color: #fff; width:5rem; line-height: 25px; text-align: center; border: none; border-radius: 5px; }
/*.couponBox{ margin-top: 8px; overflow:hidden; }
.couponBox li{ width:313px; height:130px; background: url(../img/order/Coupon.png) no-repeat; background-size: 100%; margin: 1.4rem auto; }
.couponBox .tt{ margin:4% auto 0; overflow: hidden; }
.couponBox .tt p{ width:85%; margin:-10px auto 0; font-size: 3.2rem; color: #7e6000;  font-family: "Microsoft Yahei";  }
.couponBox .tt p i{ display: inline-block; font-size:2.1rem; color: #7e6000; font-style: normal; font-family: "Microsoft Yahei"; }
.couponBox .tt p b{ display: inline-block; height:100px; font-size:8rem; color: #7e6000; font-family:"SimSun"; margin-right: 10px; vertical-align:sub; }
.couponBox .tt p strong{ display: inline-block;  font-size:3.2rem; color: #ff6600; font-weight: normal; }
.couponBox .tt .tip{ position: absolute; top:20px; right:99px; font-size: 1.4rem; color: #7e6000; font-family: "Microsoft Yahei"; }
.couponBox .cn{ width: 90%; margin:0 auto; overflow: hidden;}
.couponBox .cn p{ line-height: 18px; color: #7e6000; }

.couponBox1 li{  width:313px; height:130px; background: url(../img/order/expressCoupon.png) no-repeat; background-size: 100%; margin: 1.4rem auto; }
.couponBox1 .tt{ margin:4% auto 0; overflow: hidden; }
.couponBox1 .tt p{ width:85%; margin:-10px auto 0; font-size: 3.2rem; color: #878889;  font-family: "Microsoft Yahei";  }
.couponBox1 .tt p i{ display: inline-block; font-size:2.1rem; color: #525354; font-style: normal; font-family: "Microsoft Yahei"; }
.couponBox1 .tt p b{ display: inline-block; height:100px; font-size:8rem; color: #525354; font-family:"SimSun"; margin-right: 10px; vertical-align:sub; }
.couponBox1 .tt p strong{ display: inline-block;  font-size:3.2rem; color: #878889; font-weight: normal; }
.couponBox1 .tt .tip{ position: absolute; top:20px; right:99px; font-size: 1.4rem; color: #525354; font-family: "Microsoft Yahei"; }
.couponBox1 .cn{ width: 90%; margin:0 auto; overflow: hidden;}
.couponBox1 .cn p{ line-height: 18px; color: #525354; }*/
.couponBox{  width:313px; height:130px; background: url(../img/order/Coupon.png) no-repeat; background-size: 100%; margin: 1.4rem auto; }
.couponBox .tt{ margin:4% auto 0; overflow: hidden; }
.couponBox .tt p{ width:85%; margin:-10px auto 0; font-size: 3.2rem; color: #7e6000;  font-family: "Microsoft Yahei";  }
.couponBox .tt p i{ display: inline-block; font-size:2.1rem; color: #7e6000; font-style: normal; font-family: "Microsoft Yahei"; }
.couponBox .tt p b{ display: inline-block; height:100px; font-size:8rem; color: #7e6000; font-family:"SimSun"; margin-right: 10px; vertical-align:sub; }
.couponBox .tt p strong{ display: inline-block;  font-size:3.2rem; color: #ff6600; font-weight: normal; }
.couponBox .tt .tip{ position: absolute; top:20px; right:99px; font-size: 1.4rem; color: #7e6000; font-family: "Microsoft Yahei"; }
.couponBox .cn{ width: 90%; margin:0 auto; overflow: hidden;}
.couponBox .cn p{ line-height: 18px; color: #7e6000; }

.couponBox1{  width:313px; height:130px; background: url(../img/order/expressCoupon.png) no-repeat; background-size: 100%; margin: 1.4rem auto; }
.couponBox1 .tt{ margin:4% auto 0; overflow: hidden; }
.couponBox1 .tt p{ width:85%; margin:-10px auto 0; font-size: 3.2rem; color: #878889;  font-family: "Microsoft Yahei";  }
.couponBox1 .tt p i{ display: inline-block; font-size:2.1rem; color: #525354; font-style: normal; font-family: "Microsoft Yahei"; }
.couponBox1 .tt p b{ display: inline-block; height:100px; font-size:8rem; color: #525354; font-family:"SimSun"; margin-right: 10px; vertical-align:sub; }
.couponBox1 .tt p strong{ display: inline-block;  font-size:3.2rem; color: #878889; font-weight: normal; }
.couponBox1 .tt .tip{ position: absolute; top:20px; right:99px; font-size: 1.4rem; color: #525354; font-family: "Microsoft Yahei"; }
.couponBox1 .cn{ width: 90%; margin:0 auto; overflow: hidden;}
.couponBox1 .cn p{ line-height: 18px; color: #525354; }


/*order-submit-item*/
.order-submit-item{ width: 100%; margin:0 auto;}
.order-submit-item ul{ padding:10px 0; }
.order-submit-item li{ width: 90%; margin:0 auto; background: url(../img/common/zt.png) 100% center no-repeat; background-size: 15px; }
.order-submit-item li div{ display: inline-block; width:80%; margin-left: 12%; }
.order-submit-item li span:first-child{ width: 58%; }
.order-submit-item li span:last-child{ width: 42%; }
.order-submit-item li p{ line-height: 25px; }
.order-submit-item li s{ display: inline-block; width:25px; height:25px; margin-right:5px; position: absolute; top:28%; }
.order-submit-item .positionIco{ background: url(../img/order/dq.png) no-repeat; background-size: 100%; }
.order-submit-item dd  .priceNum{ font-size: 2rem; color: #ff4800; font-family: Arial; }
.order-submit-item dd  .priceNum i{ margin-right:5px; font-style: normal; font-size:1rem; font-family:"Microsoft Yahei"; }

.order-submit-dl{ margin-top:8px; background-color: white; overflow:hidden; }
.order-submit-dl dl{ border-bottom: 1px solid #ececec; margin:0; padding-bottom:10px; overflow: hidden; }
.order-submit-dl dt{ display:inline-block; width: 84px; height:84px; margin:10px; }
.order-submit-dl dt img{ display: block; width: 100%; vertical-align: middle; }
.order-submit-dl dd{ float: left; width:70%; margin-top: 10px; }
.order-submit-dl dd .desc{ float:left; width: 60%; margin:0 5%; }
.order-submit-dl dd .desc p{ line-height: 20px; }
.order-submit-dl .productName{ font-size: 1.6rem; color: #1d202f; }
.order-submit-dl .productAlias, .order-submit-dl .productSize, .order-submit-dl .productDetail{ font-size: 1.2rem; color: #7b7b7b; }
.order-submit-dl dd .priceNum{ float:right; }
.order-submit-dl dd .priceNum b{ display: block; width:100%; text-align: right;}
.order-submit-dl dd .priceNum p{ width: 100%; margin-top:32px; background-color: #f9f6f2; overflow:hidden; }
.order-submit-dl dd .priceNum span{ display: inline-block; font-size: 1.6rem; color: #1d202f; vertical-align:middle; }
.order-submit-dl dd .priceNum .reduceBtn{ display: inline-block; width:25px; height:25px; background: url(../img/order/order-reduce.png) no-repeat; background-size: 25px; margin-right:0; vertical-align:text-bottom; }
.order-submit-dl dd .priceNum .plusBtn{ display: inline-block; width:25px; height:25px; background: url(../img/order/order-plus.png) no-repeat; background-size: 25px; margin-right:0; vertical-align:text-bottom; }

.order-submit-item .serviceTime{ width:90%; margin:5% auto; }
.order-submit-item .serviceTime div{ margin-bottom: 5px; }
.order-submit-item .serviceTime div i{ display:inline-block; width:20%; font-style: normal; }
.order-submit-item .serviceTime div p{ display:inline-block; width:30%;}
.order-submit-item .serviceTime div span{ display:inline-block; width:48%; }
.order-submit-item .serviceTime input[type=checkbox]{ margin:0;}
.order-submit-item .tipBox{ width:90%; margin:0 auto; }
.order-submit-item .tipBox .tipIco{ display: inline-block; width:27px; height:31px; background: url(../img/order/tipIco.png) no-repeat; background-size: 27px 31px; }

.commitBox{ width:100%; margin:0 auto; background-color: white; }
.commitBox p{ width:90%; margin:0 auto; padding-top: 5%; font-size: 1.4rem; }
.commitBox textarea{ display: block; width: 90%; margin:3% auto 0; height:6rem; border: none; background-color: #f9f6f2; padding:10px 13px; overflow: hidden; }
.tipBox{ margin:5% auto; }
.tipBox h3{ font-size: 1.4rem; text-indent: 1em;}
.tipBox p{ color: #1d202f; }
#orderSubmitForm .my_bth_radius1{ display: block; width: 90%; height:3rem; line-height:3rem; background: #d1ac51; color: #fff; font-size:1.4rem; border:none; margin:5% auto 0; padding:0; text-align: center; border-radius: 5px; position:relative; left:0;}

/*order-details-item*/
.order-details-item{ width: 90%; margin: 0 auto; padding: 10px 0; overflow: hidden; }
.order-details-item dl{ margin:0; }
.order-details-item dt{ width:80px; height:80px; margin-right:20px; float:left; border:4px solid #d1ac51; border-radius: 45px; }
.order-details-item dt img{ display: block; width: 100%; vertical-align: middle; }
.order-details-item dd{ padding-top:10px; }
.order-details-item dd p{ line-height: 1.2; font-size: 1.6rem; color: #7b7b7b; }
.order-details-item p{ line-height: 1.2; font-size: 1.4rem; color: #7b7b7b; }
.order-details-item p b{ display:inline-block; width:70%; font-weight: normal; }
.order-details-item dd p span{ width: auto; color:#7b7b7b; }
.order-details-item p span{ display: inline-block; float: left; width: 18%; margin-right: 10px; color: #1d202f; }

.order-submit-dl2{ margin-top:8px; background-color: white; border-bottom: 1px solid #ececec; overflow:hidden; }
.order-submit-dl2 dl{ margin:0; padding-bottom:10px; overflow: hidden; }
.order-submit-dl2 dt{ display:inline-block; width: 60px; height:60px; margin:10px; border:1px solid #ececec; }
.order-submit-dl2 dt img{ display: block; width: 100%; vertical-align: middle; }
.order-submit-dl2 dd{ float: left; width:73%; margin-top: 10px; }
.order-submit-dl2 dd .desc{ float:left; width: 75%; margin: 0px 3%; }
.order-submit-dl2 dd .desc p{ line-height: 20px; }
.order-submit-dl2 .productName{ font-size: 1.6rem; color: #1d202f; }
.order-submit-dl2 .productAlias, .order-submit-dl2 .productSize, .order-submit-dl2 .productDetail{ font-size: 1.2rem; color: #7b7b7b; }
.order-submit-dl2 dd .priceNum{ float:right; }
.order-submit-dl2 dd .priceNum b{ display: block; width:100%; text-align: right; color: #ff4800; font-size: 1.6rem; }
.order-submit-dl2 dd .priceNum p{ width: 100%; margin-top:32px; background-color: #f9f6f2; overflow:hidden; }
.order-submit-dl2 dd .priceNum span{ display: inline-block; font-size: 1.6rem; color: #1d202f; vertical-align:middle; }
.order-submit-dl2 dd .priceNum i{ font-style: normal; font-size:1rem; font-family:"Microsoft Yahei"; }
.order-details-item .nav-tabs{ width:50%; margin:0 0 10px 20px; height:2.4rem; line-height: 2.2rem; }
.order-details-item .nav-tabs li{ width:50%; }
.order-details-ol{ background-color: #f9f6f2; }
.order-details-ol ol{ width:90%; margin:0 auto; overflow: hidden; }
.order-details-ol li{ height:50px; background: url(../img/order/yuan-un.png) left center no-repeat; background-size: 25px 50px; }
.order-details-ol li.cur{ height:50px; background: url(../img/order/yuan.png) left center no-repeat; background-size: 25px 50px; }
.order-details-ol li span{ line-height: 50px; font-size: 1.2rem; color: #1d202f; }
.order-details-ol li span.tt{ float: left; margin-left:7%;}
.order-details-ol li span.time{ float: right; }
.order-details-item.w100{ width:100%; }
/*order-details-price-item*/
.order-details-price-item,.order-details-price1-item{ width:90%; margin:0 auto; overflow:hidden; }
.order-details-price-item .details{ line-height: 40px; border-bottom: 1px solid #ececec; overflow: hidden; }
.order-details-price-item .details span:first-child{ font-size: 1.3rem; color: #1d202f; }
.order-details-price-item .details span:last-child{ font-size:1.6rem; color: #c0c0c3; text-align: right; }
.order-details-price-item .selectCoupon{ line-height: 40px; background: url(../img/common/zt.png) right center no-repeat; background-size: 15px; overflow: hidden; }
.order-details-price-item .selectCoupon span:first-child{ margin-right:10px; }

.order-details-price-item .selectCoupon s{ display: inline-block; width:16px; height:16px; background: url(../img/list/gx-02.png) no-repeat;  background-size: 16px; vertical-align:middle; margin-right: 5px; }
.order-details-price-item .selectCoupon b.coupon-bd{ display: inline-block; width: 94px; height:24px; line-height: 24px; background: url(../img/order/hongbao.png) right center no-repeat; background-size: 94px 24px; text-align: center; color:#fff; font-weight: normal; text-indent:2em; margin-left: 38px; font-family: "SimHei"; }

.order-details-price1-item{ line-height: 40px; }
.order-details-price1-item div:first-child span:first-child{ font-size: 1.5rem; color: #1d202f; }
.order-details-price1-item div:first-child span:last-child{ font-size:2rem; color: #ff4800; text-align: right; }
.order-details-price1-item div:first-child span:last-child i{ display: inline-block; font-style: normal; font-size: 1rem; }



/*order-detail-list*/
.order-detail-list{ width:90%; margin:0 auto; }
.order-detail-list li{ line-height: 40px; background: url(../img/list/gx-02.png) 96% center no-repeat;  background-size: 16px; border-bottom: 1px solid #ececec; }
.order-detail-list li span{ display:inline-block; }
.order-detail-list s{ display: inline-block; vertical-align:sub; margin-right:10px; }
.order-detail-list s.wx{ width: 18px; height:18px; background: url(../img/order/wm-36.png) no-repeat;  background-size: 18px; }
.order-detail-list s.zfb{ width: 18px; height:18px; background: url(../img/order/zfb-36.png) no-repeat;  background-size: 18px;}
.order-detail-list s.ye{ width: 18px; height:18px; background: url(../img/order/ye-36.png) no-repeat;  background-size: 18px;}
