<link rel="stylesheet" href="css/mui.min.css" />
<link rel="stylesheet" href="css/mui.picker.css"  />
<link rel="stylesheet" href="css/mui.poppicker.css"  />
<link rel="stylesheet" href="css/app.css" />
<style type="text/css">
  .selected{
    background-color: lightgreen;
  }
</style>
<div class="kuxi-page" ng-controller="clothTabCtrl">
<header>
    <p>
        <s class="back" onclick="history.go(-1);"></s>
		精致洗衣
		<a class="serviceDes" href="javascript:;" ng-click="goserviceInfo()">服务说明</a>
    </p>
</header>
<div class="mui-content">
    <div style="padding:10px">
        <div class="mui-segmented-control">
         <a ng-class="$index==0?'mui-control-item mui-active':'mui-control-item'" ng-href="#category_{{category.GOODS_CATEGORY_ID}}" ng-repeat="category in categoryList">{{category.GOODS_CATEGORY_NAME}}</a>
    	</div>
    </div>
    <div>
      <div ng-class="$index==0 ?'mui-control-content list-item mui-active':'mui-control-content list-item'" id="category_{{category.GOODS_CATEGORY_ID}}" ng-repeat="category in categoryList">
            <dl ng-repeat="item in result[category.GOODS_CATEGORY_ID]">
      			  <dt class="ow">
      				  <a class="fl"><img lazy-src="{{item.GOODS_IMG_URL}}" /></a>
      				  <div class="fr details">
      					  <h3>{{item.GOODS_NAME}}</h3>
      					  <span><b class="goodsPrice">{{item.GOODS_PRICE | currency:  "￥" }}</b></span>
      				  </div>
      			  </dt>
      			  <dd>{{item.GOODS_MARK}}</dd>
              <div class="mui-checkbox" style="padding-left:15px;">
                <label><input type="checkbox" ng-click="selectItem($event,item.GOODS_PRICE, item.GOODS_ID,category.GOODS_CATEGORY_ID)" ng-attr-categoryid="{{item.GOODS_ID}}" ng-attr-categoryid="{{item.GOODS_CATEGORY_ID}}" ng-attr-goodsprice="{{item.GOODS_PRICE}}"></label>
              </div>
            </dl>
        </div>
    </div>
    <!--list-ft start-->
    <div class="list-ft">
        <div class="tt">
            <p>您已选择衣物数量:{{totalNum}}件</p>
            <p ng-init="0">需支付： <b>{{totalPrice}}</b>元</p>
        </div>
        <a ng-click="submitForm()">点击确认</a>
    </div>
    <!--list-ft end-->
</div>
<script type="text/javascript" src="js/mui.min.js"></script>
<script>
mui.init({
	swipeBack:true //启用右滑关闭功能
});
$(function(){
    //动态检测屏幕高度 start
	var documentHeight = $(document).height();
	$('.kuxi-page').css('height', documentHeight);
    //动态检测屏幕高度 end

});
</script>
