<div class="kuxi-page" ng-controller="couponCtrl">
	<header>
        <p>
            <s class="back" onclick="history.go(-1);"></s>
			优惠券
			<a class="serviceDes" href="javascript:;" ng-click="couponAgLnk()">优惠券须知</a>
        </p>
    </header>
	<div class="bd-fleshcolor">
		<form class="pr couponSelection">
			<label>兑换码:</label>
			<input type="text" class="tx" placeholder="请您输入兑换码" value="" ng-model="couponId" />
			<input type="button" class="searchBtn" value="兑换" id="couponBtn" ng-click="submitCouponId()" />
		</form>
		<ul class="couponBox bd-whitecolor">
			<li class="pr" ng-repeat="item in items">
				<div class="tt">
					<p><i>￥</i><b>{{item.FACE_VALUE}}</b>元<strong>优惠券</strong></p>
					<span class="tip">{{item.SHOW_WORDS}}</span>
				</div>
				<div class="cn">
					<p>适用范围：{{item.GOODS_TYPE_NAME}}</p>
					<p>有效期至：{{item.COUPON_CLOSE | date:'YYYY-MM-dd'}}</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-body">
			<div class="recharge-item">
				<input type="text" class="tx" placeholder="请输入兑换密码" value="" ng-model="couponVal" />
			</div>
		 </div>
		 <div class="modal-footer">
			<button type="button" class="btn btn-yellow"
			   data-dismiss="modal">取消
			</button>
			<button type="button" class="btn btn-yellow" ng-click="submitCoupon()">
			   保存
			</button>
		 </div>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<script type="text/javascript">
$(function(){
	$('#couponBtn').click(function(){
	   $('#couponModal').modal({
		  keyboard: true
	   })
	});
	//动态检测屏幕高度 start
	var documentHeight = $(document).height();
	$('.kuxi-page').css('height', documentHeight);
    //动态检测屏幕高度 end
});
</script>
