<link rel="stylesheet" href="css/bannerStyles.css" />
<link rel="stylesheet" href="css/index.css" />
<div class="kuxi-page" ng-app="myApp">
     <div ui-view="hd"></div>
     <!--in start-->
     <div class="in">
         <div id="gallery" class="swipe" ng-controller="ads1Ctrl">
            <div class="container slider" >
                <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                     ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                     ng-hide="!isCurrentSlideIndex($index)" lazy-src="{{slide.PICTURE_URL}}">
                <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
                <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                <nav class="nav">
                    <div class="wrapper">
                        <ul class="dots">
                            <li class="dot" ng-repeat="slide in slides">
                                <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                                   ng-click="setCurrentSlideIndex($index);" ng-bind="slide.NAME"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="gallery-mask"></div>
         </div>
         <div class="floor-item"  ng-controller="floorCtrl">
             <nav class="quick-entry-nav pr" >
                 <a class="quick-entry-link" ui-sref=".list({uid:floor.GOODS_TYPE_ID})"  ng-repeat="floor in floors" ng-show="floor.GOODS_TYPE_ID>0">
                     <img lazy-src="{{floor.GOODS_IMG_URL}}" />
                     <span ng-bind="floor.GOODS_TYPE_NAME"></span>
                 </a>
                 <a class="quick-entry-link" ui-sref="week"  ng-repeat="floor in floors" ng-if="floor.IS_WEEKLY ==2 && floor.GOODS_TYPE_STATUS == 1">
                     <img lazy-src="{{floor.GOODS_IMG_URL}}" />
                     <span ng-bind="floor.GOODS_TYPE_NAME"></span>
                 </a>
                 <a class="quick-entry-link" href="javascript:;"  ng-repeat="floor in floors" ng-if="floor.IS_WEEKLY ==1 && floor.GOODS_TYPE_STATUS == 1">
                     <img lazy-src="{{floor.GOODS_IMG_URL}}" />
                     <span ng-bind="floor.GOODS_TYPE_NAME"></span>
                 </a>
             </nav>
         </div>
         <div class="gray_in"></div>
         <div class="floor-item">
             <div class="headlines">
                 <span class="hdlines-tt"><img src="img/index/scrollTT.png" /></span>
                 <div class="hdlines-box" id="hdlinesBox" ng-controller="ads6Ctrl">
                     <ul>
                         <li ng-repeat="ad in ads6"><a href="#" ng-bind="ad.NAME"></a></li>
                     </ul>
                </div>
             </div>
             <div class="module-con" ng-controller="ads7Ctrl">
                <li ng-repeat="ad in ads7">
                    <a href="/">
                        <img lazy-src="{{ad.PICTURE_URL}}" alt="" />
                    </a>
                </li>
             </div>
         </div>
     </div>
     <!--in end-->
</div>
<div ui-view="ft"></div>
<div ui-view="download"></div>
<!--regionSelection start-->
<div class="city-container" ng-controller="cityCtrl" >
  <div class="city">
      <div class="city-list" ng-repeat="city in citys">
        <div class="city-letter" id="{{city.AREA_EN}}1">
            <span>{{city.AREA_EN}}</span>
            <span>{{city.AREA_NAME}}</span>
        </div>
        <div class="city-cn">
            <p ng-click="selectArea($event)" data-id="{{list.AREA_ID}}" data-tableid="{{list.TABLE_ID}}"  ng-repeat="list in city[city.AREA_EN]">{{list.COMMUNITY_NAME}}</p>
        </div>
  </div>
  <div class="letter">
    <ul>
        <li ng-repeat="city in citys"><a href="javascript:;">{{city.AREA_EN}}</a></li>
    </ul>
  </div>
</div>
</div>
<!--regionSelection end-->
<!-- <div ng-controller="versionUpdateCtrl">
    <div ng-if="flag == true">
        <div class="{{versionFirm}}">
            <div class="mui-popup-inner">
                <div class="mui-popup-title">有新版本发布啦!{{versions.VERSION_NAME}}</div>
                <div class="mui-popup-text" ng-bind="versions.VERSION_INFO"></div>
            </div>
            <div class="mui-popup-buttons">
                <span class="mui-popup-button" ng-click="closeBtn()">稍后再说</span>
                <a href="{{versions.VERSION_DOWNLOAD_URL}}" class="mui-popup-button mui-popup-button-bold">前往更新</a>
            </div>
        </div>
        <div class="{{versionMask}}"></div>
    </div>
    <div ng-if="flag == false"></div>
</div> -->
