<div class="kuxi-page bdblue">
	<s class="login-goback" ng-click="logingoIndex()">x</s>
	<div class="loginlogo"></div>
	<div class="loginform" ng-controller="loginCtrl">
		<form novalidate>
			<div class="ind">
				<div class="div-phone">
					<input type="text" id="phone" class="infos" ng-model="user.USERNAME" placeholder="手机号" ng-pattern="/^1\d{10}$/" required>
				</div>
				<div class="pr div-ranks">
					<input type="text" id="ranks" class="infos" ng-model="user.CODE"  placeholder="验证码" required>
					<a href="javascript:;" class="send1" ng-click="sendCode()" ng-bind="paracont" ng-disabled="user.USERNAME.$invalid">发送验证码</a>
				</div>
			</div>
			<div class="div-conform">
				<a href="javascript:;" class="conform" ng-click="submitForm()">登录</a>
			</div>
		</form>
	</div>
	<p class="loginTip">点击登录,即表示您同意&nbsp;<a href="javascript:;" ng-click="userAgLnk()">用户协议</a></p>
	<p class="loginDes">未收到验证码请拨打400-00000000</p>
</div>
<script>
$(function(){
    //动态检测屏幕高度 start
	var documentHeight = $(document).height();
	$('.kuxi-page').css('height', documentHeight);
    //动态检测屏幕高度 end
});
</script>
