<div ng-controller="moneyCtrl">
	<div class="kuxi-page">
		<header>
            <p>
                <s class="back" onclick="history.go(-1);"></s>
				我的钱包
            </p>
        </header>
		<div class="in">
			<div class="guest-cn">
				<div class="bd">
					<div class="notice1">
						<div class="moneyIco"></div>
						<p>账户</p>
						<b>{{items.MEMBER_BALANCE}}</b>
						<div id="rechargeBtn" class="my_bth1" data-toggle="modal" data-target="#rechargeModal"><span>充值</span></div>
						<div class="my_bth2" ng-click="rechargeRecord()"><span>消费记录</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="rechargeModal" tabindex="-1" role="dialog" aria-labelledby="rechargeModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">

	         <div class="modal-body">
	            <div class="recharge-item">
					<label>充值号</label>
					<input type="text" value="" ng-model="rechareId" />
				</div>
				<div class="recharge-item">
					<label>充值码</label>
					<input type="text" value="" ng-model="rechareVal" />
				</div>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-yellow"
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" class="btn btn-yellow" ng-click="submitRecharge()">
	               保存
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
<script type="text/javascript">
$(function(){
	$('#rechargeBtn').click(function(){
	   $('#rechargeModal').modal({
 	      keyboard: true
 	   })
	});
	var documentHeight = $(document).height();
	$('.kuxi-page').css('height', documentHeight);
});
</script>
