<link rel="stylesheet" href="css/mui.min.css" />
<style>
.mui-segmented-control.mui-yellow-tab{ border:1px solid #d1ac51; border-radius:8px; }
.mui-segmented-control .mui-control-item{ background-color: white; color:#d1ac51; border-color:#d1ac51; border-left:1px solid #d1ac51; line-height: .9rem; font-size: .5rem; }
.mui-segmented-control .mui-control-item.mui-active{ background-color: #1d202f !important; color:#d1ac51; text-decoration:none; }
</style>
	<div class="kuxi-page" ng-controller="orderCtrl">
		<!--header start-->
		<header>
            <p class="addressSelection">
                <s class="back" onclick="history.go(-1);"></s>
				我的订单
            </p>
        </header>
		<!--header end-->
		<div class="in">
			<div class="mui-content">
			    <div style="padding:10px">
			        <div class="mui-segmented-control mui-yellow-tab">
			    			<a class="mui-control-item mui-active" href="#item1">待支付</a>
			    			<a class="mui-control-item" href="#item2">服务中</a>
							<a class="mui-control-item" href="#item3">已完成</a>
			    	</div>
			    </div>
			    <div>
				    <div id="item1" class="mui-control-content list-item mui-active">
						<div class="order-item">
							<ul>
								<li ng-repeat="topaid in topaids">
									<a href="javascript:;" ng-click="goOrderDetailsNotPay(topaid)">
										<img class="fl" ng-src="{{topaid.SERVICE_IMG_URL}}" />
										<div class="details">
										   <p>订单编号：<span>{{topaid.ORDER_NO}}</span></p>
										   <p>订单状态：
										   	<b ng-if="topaid.PAY_STATUS==1">已支付</b>
										   	<b ng-if="topaid.PAY_STATUS==2 && topaid.IS_GUANJIA_SUBMIT==1">等待管家上门</b>
										   	<b ng-if="topaid.PAY_STATUS==3 && topaid.IS_GUANJIA_SUBMIT==0">去支付</b>
										   </p>
										   <p>
											  订单类型：<span ng-if="topaid.GOODS_TYPE_ID == 7  ">精致洗衣</span>
											   <span ng-if="topaid.GOODS_TYPE_ID == 10 ">精致鞋护</span>
											   <span ng-if="topaid.GOODS_TYPE_ID == 11 ">家庭洗涤</span>
											   <span ng-if="topaid.GOODS_TYPE_ID == 12 ">车饰清洗</span>
											   <span ng-if="topaid.GOODS_TYPE_ID == 13 ">衣物清洗</span>
											   <span ng-if="topaid.GOODS_TYPE_ID == 14 ">周周洗</span>
										   </p>
										   <p>下单时间：<span>{{topaid.ORDER_TIME | date: 'yyyy/MM/dd' }}</span></p>
										   <p>管&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家：   
										   	<span ng-if="topaid.guanjiainfo">{{topaid.guanjiainfo}}</span>
										   	<span ng-if="!topaid.guanjiainfo">等待派单中</span>
										   </p>
									   </div>
									</a>
								</li>
							</ul>
						 </div>
					</div>
					<div id="item2" class="mui-control-content list-item">
						<div class="order-item">
							<ul>
								<li ng-repeat="payment in paymenting">
									<a ng-click="goOrderDetails(payment)">
										<img class="fl" ng-src="{{payment.SERVICE_IMG_URL}}"  />
										<div class="details">
										   <p>订单编号：<span>{{payment.ORDER_NO}}</span></p>
										   <p>订单状态：<b>已支付</b></p>
										   <p>订单类型：
										    <span ng-if="payment.GOODS_TYPE_ID == 7  ">精致洗衣</span>
											<span ng-if="payment.GOODS_TYPE_ID == 10 ">精致鞋护</span>
											<span ng-if="payment.GOODS_TYPE_ID == 11 ">家庭洗涤</span>
											<span ng-if="payment.GOODS_TYPE_ID == 12 ">车饰清洗</span>
											<span ng-if="payment.GOODS_TYPE_ID == 13 ">衣物清洗</span>
											<span ng-if="payment.GOODS_TYPE_ID == 14 ">周周洗</span>
										   </p>
										   <p>下单时间：<span>{{payment.ORDER_TIME | date: 'yyyy/MM/dd' }}</span></p>
										   <p>管&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家：<span>{{payment.guanjiainfo}}</span></p>
									   </div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="item3" class="mui-control-content list-item">
						<div class="order-item">
							<ul>
								<li ng-repeat="complete in completed">
									<a ng-click="goOrderDetails(complete)">
										<img class="fl" ng-src="{{complete.SERVICE_IMG_URL}}" />
										<div class="details">
										   <p>订单编号：<span>{{complete.ORDER_NO}}</span></p>
										   <p>订单状态：<b>已签收/
										   	{{complete.IS_VALUATE==0?"已评价":"未评价"}}
										   </b></p>
										   <p>下单时间：<span>{{complete.ORDER_TIME | date: 'yyyy/MM/dd' }}</span></p>
										   <p>管&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家： <span>{{complete.guanjiainfo}}</span></p>
									   </div>
									</a>
									<button ng-click="goCommit(complete)" ng-show="complete.IS_VALUATE==1">去评价</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--activity-mask start-->
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="activityModal" style="display:none;" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
		   <div class="pr modal-dialog">
		      <div class="modal-content">
				  <p class="close" data-dismiss="modal" aria-hidden="true">&times;</p>
				  <a href="/" class="shaiLnk">晒</a>
		      </div><!-- /.modal-content -->
		   </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!--activity-mask end-->
	</div>
	<!--ft start-->
	<div class="ft" >
	    <dl>
	        <a ui-sref="main">
	        <dt class="ftIco1"></dt>
	        <dd>首页</dd>
	        </a>
	    </dl>
	    <dl class="active">
	        <a ui-sref="myOrder">
	        <dt class="ftIco2"></dt>
	        <dd>订单</dd>
	        </a>
	    </dl>
	    <dl>
	        <a ui-sref="myCenter">
	        <dt class="ftIco3"></dt>
	        <dd>我</dd>
	        </a>
	    </dl>
	</div>
	<!--ft end-->
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script>
	mui.init({
		swipeBack:true //启用右滑关闭功能
	});
	</script>
