	<div class="kuxi-page" ng-app="myApp">
		<!--header start-->
		<header>
            <p class="addressSelection">
                <s class="back" onclick="history.go(-1);"></s>
				我的订单
            </p>
        </header>
		<!--header end-->
		<div id="myTab" ng-controller="orderTabCtrl">
			<ul class="nav nav-tabs nav-tab1">
			   <li ng-repeat="tab in myTab"
	                ng-class="{active:isActiveTab(tab.url)}"
	                ng-click="onClickTab(tab)">{{tab.title}}</li>
			</ul>
			<div id="mainView">
				<div ng-include="currentTab"></div>
			</div>
		</div>
		<script type="text/ng-template" id="notpaid.tpl">
			<div class="order-item">
				<ul>
					<li>
						<a>
							<img class="fl" src="img/list/yi.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>未支付</b></p>
							   <p><span>订单类型：</span>衣物清洗</p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：   </span>王五/18799096756</p>
						   </div>
						</a>
					</li>
				</ul>
			 </div>
		</script>
		<script type="text/ng-template" id="inservice.tpl">
			<div class="order-item">
				<ul>
					<li>
						<a>
							<img class="fl" src="img/list/yi.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已入厂</b></p>
							   <p><span>订单类型：</span>衣物清洗</p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/xie.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>配送中</b></p>
							   <p><span>订单类型：</span>品质护鞋</p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/she.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已出厂</b></p>
							   <p><span>订单类型：</span>奢饰品洗护</p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
				</ul>
			</div>
		</script>
		<script type="text/ng-template" id="completed.tpl">
			<div class="order-item">
				<ul>
					<li>
						<a>
							<img class="fl" src="img/list/yi.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>20160531171848439</p>
							   <p><span>订单状态：</span><b>已签收/已评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家： </span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/xie.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>20160531171848677</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
					<li>
						<a>
							<img class="fl" src="img/list/bang.png" />
							<div class="fr details">
							   <p><span>订单编号：</span>08302234</p>
							   <p><span>订单状态：</span><b>已签收/未评论</b></p>
							   <p><span>下单时间：</span>2015/09/02</p>
							   <p><span>管家：</span>王五/18799096756</p>
						   </div>
						</a>
					</li>
				</ul>
			</div>
		</script>
		<!--ft start-->
		<div class="ft">
		    <dl>
		        <a href="/index.html">
		        <dt class="ftIco1"></dt>
		        <dd>首页</dd>
		        </a>
		    </dl>
		    <dl class="active">
		        <a href="/order.html">
		        <dt class="ftIco2"></dt>
		        <dd>订单</dd>
		        </a>
		    </dl>
		    <dl>
		        <a href="/userInfo.html">
		        <dt class="ftIco3"></dt>
		        <dd>我</dd>
		        </a>
		    </dl>
		</div>
		<!--ft end-->
		<!--activity-mask start-->
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
		   <div class="pr modal-dialog">
		      <div class="modal-content">
				  <p class="close" data-dismiss="modal" aria-hidden="true">&times;</p>
				  <a href="/" class="shaiLnk">晒</a>
		      </div><!-- /.modal-content -->
		   </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!--activity-mask end-->
	</div>
